/Lab1/__pycache__/
/Lab1/Task1/__pycache__/
/Lab1/Task2/__pycache__/
/Lab2/__pycache__/
/lab3/__pycache__/


# lightning logs
/Lab1/Task1/tb_logs/
/Lab2/lightning_logs/
/Lab2/tb_logs/
/lightning_logs/
/Lab2/ResultsVanillaGAN/

/Lab2/MNIST/
/Lab2/data/
/MNIST/
/data/
/runs/